<table class="table" xmlns="http://www.w3.org/1999/html">
    <thead>
    <tr>
    <td></td>
    <td>Start wizyty</td>
    <td>Pacjent</td>
    </tr>
    </thead>
    <tbody>
    {% for key,visit in value %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ visit.startDate | date }}</td>
            <td>{{ visit.patient.firstName }} {{ visit.patient.lastName }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>